* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
@font-face {
    font-family: Cursor;
    src: url(./fonts/CursorGothic_Regular-s.p.a361088d.ttf);
}
:root{
    --primary-background:#15120a;
    --text-color:#EDECEC;
    --font:Cursor;
}

body {
    background-color: var(--primary-background);
    color: var(--text-color);
    
}
.logo{
    display: flex;
}
.logo-1{
    width: 30px;  

}
.cur-img{
    width: 95px;
    height: 16px;
    margin-top: 8px;
}
.logo:hover{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin:10px ; */
    padding: 10px 80px  ;
    /* background-color: red; */
   
}


.nav-link a{
      color: var(--text-color);
  text-decoration: none;
  margin-left: 24px;
  font-size: 18px;

}
.nav-link a:hover{
    /* background: rgb(208, 204, 204); */
    color: rgb(208, 204, 204);
}

.sign-in{
    display: inline-block;
    padding: 6px 16px;
    text-decoration: none;
    color: var(--text-color);
    background: transparent;
    border: 0.5px solid;
    border-radius: 20px;
    margin-right: 5px;
    
}

.download{
    padding: 6px 24px;
    text-decoration: none;
    color: var(--primary-background);
    background: var(--text-color);
    border-radius: 16px;
    
}
.download:hover{
    background: rgb(208, 204, 204);
}


main{
    width: 75%;
    margin: 20px auto;
}
.landing h2{
    margin-top: 120px;
    font-size: 20px;
    font-weight: 450;
    line-height: 1.4;
}

.dwn-btn{
    color: var(--primary-background);
    background: var(--text-color);
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    margin: 20px 0px;
}

.landing-page{
    position: relative;
}
.lg-bg{
    position: relative;
    width: 100%;
    margin: 40px 8px;
    border-radius: 6px;
    height: 80%
}
.lg-code{
     position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   border-radius: 4px;
}


/* .trust h4{
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.trust-company{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}
.trust-company img{
    flex:1;
    box-sizing: content-box;
    padding: 35px;
    margin-top: 30px;
     background: rgb(27,25,19);
     
} */

.trust h4{
    text-align: center;
}

.trust-company{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap; */
    gap: 10px;
    margin-top:30px;
    width: 100%;

}
.trust-company img{
    background-color: rgb(27, 25,19);
    width: 140px;
    height: 110px;
    padding: 20px 30px;
    object-fit: contain;
    border-radius: 10px;
    
}
